.sidebar
  display: flex
  flex-direction: column
  min-width: 270px
  height: 100%
  box-shadow: 1px 0px 45px rgba(0, 0, 0, 0.06)

  h3
    display: flex
    justify-content: center
    margin-top: 20px

  ul
    list-style: none
    display: flex
    flex-direction: column
    padding: 0
    overflow-y: auto

    li
      margin: 10px 15px
      padding: 10px
      border-radius: 5px
      cursor: pointer
      transition: all 0.3s

      &:hover
        color: #7711d1
        background: lighten(#7711d1, 80%)

        a
          color: #7711d1

      a
        display: block
        width: 100%

    .active
      color: #7711d1
      background: lighten(#7711d1, 80%)

      a
        color: #7711d1