.homePage
  padding: 20px

  button
    display: flex
    justify-content: center
    align-items: center
    margin: 5px
    padding: 10px
    border-radius: 5px
    transition: all 0.3s

    &:hover
      color: #7711d1
      background: lighten(#7711d1, 80%)

    svg
      width: 18px
      height: 18px

  .editor
    display: flex
    margin-top: 10px
    background: #fff
    width: 100%
    border-radius: 20px
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1)

    textarea
      border: none
      flex-grow: 1
      padding: 20px
      resize: vertical
      border-radius: 20px
      min-height: 500px
      font-size: 18px

  footer
    display: flex
    flex-direction: row-reverse

    button
      margin: 15px
      width: 100px

      svg
        margin-right: 10px

    button:first-child
      margin-right: 0