body
  padding: 0
  margin: 0
  background: #fafafa

  button
    background: none
    border: none
    cursor: pointer

  h1, h2, h3, h4
    padding: 0
    margin: 0

  a
    text-decoration: none
    color: black

.layout
  width: 100%
  height: 100vh
  display: flex

  .main
    width: 100%